www.wiseoldman.net {
   redir https://wiseoldman.net{uri}
}

league.wiseoldman.net {
    redir https://wiseoldman.net
}

seasonal.wiseoldman.net {
   redir https://wiseoldman.net
}

wiseoldman.net {
    reverse_proxy app:3000
    encode gzip
}

api.wiseoldman.net {
    handle_path /v2/* {
        reverse_proxy api:5000
    }
}

prometheus.wiseoldman.net {
    reverse_proxy prometheus:9090

    basicauth {
      admin {$ADMIN_AUTH_PASSWORD_HASH}
    }
}

bull.wiseoldman.net {
    reverse_proxy bull-board:5100

    basicauth {
      admin {$ADMIN_AUTH_PASSWORD_HASH}
    }
}

grafana.wiseoldman.net {
    reverse_proxy grafana:3000
}