version: "3"
services:
  ################## Databases ##################
  redis:
    container_name: redis
    image: redis
    networks:
      - generic-network
    env_file:
      - ./.env
  ################## Core ##################
  api:
    container_name: api
    image: wiseoldman/api-adapted:latest
    env_file:
      - ./.env
    expose:
      - "5000"
    ports:
      - "5000:5000"
    networks:
      - generic-network
    depends_on:
      - redis
  api-v2:
    container_name: api-v2
    image: wiseoldman/api-v2:2.0.0
    env_file:
      - ./.env
    expose:
      - "5001"
    ports:
      - "5001:5001"
    networks:
      - generic-network
    depends_on:
      - redis
  league-api:
    container_name: league-api
    image: wiseoldman/league-api:latest
    env_file:
      - ./.env
    expose:
      - '6000'
    ports:
      - '6000:6000'
    networks:
      - generic-network
    depends_on:
      - redis
  bot:
    container_name: bot
    image: wiseoldman/discord-bot:latest
    env_file:
      - ./.env
    expose:
      - "7000"
    ports:
      - "7000:7000"
    networks:
      - generic-network
  bot-v1:
    container_name: bot-v1
    image: wiseoldman/discord-bot:1:0.1
    env_file:
      - ./.env
    expose:
      - "7001"
    ports:
      - "7001:7000"
    networks:
      - generic-network
  docs:
    container_name: docs
    image: wiseoldman/docs:latest
    expose:
      - "3000"
    ports:
      - "3000:3000"
    networks:
      - generic-network
  nginx:
    container_name: nginx
    build: .
    networks:
      - generic-network
    ports:
      - 80:80
      - 443:443
    links:
      - api
      - api-v2
      - league-api
      - bot
      - bot-v1
    command: '/bin/sh -c ''while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g "daemon off;"'''
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
  ################## Metrics ##################
  grafana:
    container_name: grafana
    image: grafana/grafana:7.1.5
    ports:
      - 4000:3000
    volumes:
      - ./datasources.yml:/etc/grafana/provisioning/datasources/datasources.yml
      - grafana-data:/var/lib/grafana
    networks:
      - metrics-network
    env_file:
      - ./.env
  prometheus:
    container_name: prometheus
    image: prom/prometheus:v2.21.0
    ports:
      - 9090:9090
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    networks:
      - metrics-network
    command: --web.enable-lifecycle  --config.file=/etc/prometheus/prometheus.yml
  metrics:
    container_name: metrics
    image: wiseoldman/metrics:latest
    env_file:
      - ./.env
    expose:
      - "3500"
    ports:
      - "3500:3500"
    networks:
      - metrics-network
  ################## Utils ##################
  certbot:
    container_name: certbot
    image: certbot/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    env_file:
      - ./.env
    ports:
      - "54321:80"
networks:
  generic-network:
  metrics-network:
volumes:
  prometheus-data:
  grafana-data:
    external: true
