# Postgres
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=

# Redis
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

# Server
SERVER_CORE_DATABASE_URL=postgresql://user:password@db:5432/wise-old-man?schema=public&connection_limit=18
SERVER_API_PORT=
SERVER_SENTRY_DSN=
SERVER_OPENAI_API_KEY=
SERVER_PATREON_BEARER_TOKEN=
SERVER_DISCORD_BOT_EVENTS_API_URL=
SERVER_DISCORD_PATREON_WEBHOOK_URL=
SERVER_ABUSE_PROTECTED_PLAYERS_LIST=
SERVER_API_FEATURE_FLAG_MULTI_METRIC_COMPETITIONS=

# Discord Bot
DISCORD_BOT_DATABASE_URL=postgresql://user:password@db:5432/discord-bot?schema=public&connect_timeout=300
DISCORD_BOT_API_KEY=
DISCORD_BOT_BASE_API_URL=
DISCORD_BOT_SENTRY_DSN=
DISCORD_BOT_DISCORD_BEARER_TOKEN=

# Web App
APP_API_KEY=
APP_CLOUDFLARE_R2_ACCESS_KEY_ID=
APP_CLOUDFLARE_R2_SECRET_ACCESS_KEY=
NEXT_PUBLIC_BASE_API_URL=

# Helpful Old Man
HOM_DISCORD_TOKEN=
HOM_SUPPORT_CHANNEL=
HOM_TICKET_CATEGORY=
HOM_MOD_ROLE=
HOM_MOD_LOG_CHANNEL=
HOM_QUESTIONS_CHANNEL=
HOM_PATREON_CHANNEL=

# Prometheus & Metrics
PROMETHEUS_METRICS_SERVICE_URL=

# PGAdmin
PGADMIN_PORT=54321
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# Grafana
GF_SECURITY_ADMIN_USER=
GF_SECURITY_ADMIN_PASSWORD=

# Database backups
BACKUP_LOCAL_DIR_PATH=
BACKUP_WEBHOOK_URL=
BACKUP_R2_ACCOUNT_ID=
BACKUP_R2_ACCESS_KEY_ID=
BACKUP_R2_SECRET_ACCESS_KEY=
BACKUP_R2_BUCKET_NAME=wiseoldman-db-backups

# Caddy
CADDY_ADMIN_AUTH_PASSWORD_HASH=

# Shared
SHARED_ADMIN_PASSWORD=

# Networking
CORE_PRIVATE_IP=