www.wiseoldman.net {
   redir https://wiseoldman.net{uri}
}

league.wiseoldman.net {
   reverse_proxy league-app:3000
   encode gzip
}

seasonal.wiseoldman.net {
   redir https://wiseoldman.net
}

wiseoldman.net {
    @bots {
        header User-Agent *Googlebot*
    }

    rate_limit @bots {
        zone bot_zone {
            key    {remote_host}
            events 1000
            window 1h
        }
    }

    reverse_proxy app:3000
    encode gzip
}

api.wiseoldman.net {
    handle_path /v2/* {
        reverse_proxy server-api:5000
    }
    
    handle_path /league/* {
        reverse_proxy league-server-api:5001
    }
}

prometheus.wiseoldman.net {
    reverse_proxy prometheus:9090

    basicauth {
      admin {$CADDY_ADMIN_AUTH_PASSWORD_HASH}
    }
}

bull.wiseoldman.net {
    reverse_proxy server-bull-board:5100

    basicauth {
      admin {$CADDY_ADMIN_AUTH_PASSWORD_HASH}
    }
}

league-bull.wiseoldman.net {
    reverse_proxy league-server-bull-board:5100

    basicauth {
      admin {$CADDY_ADMIN_AUTH_PASSWORD_HASH}
    }
}

grafana.wiseoldman.net {
    reverse_proxy grafana:3000
}