# Redis
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

# Server (Job Runner)
SERVER_CORE_DATABASE_URL=postgresql://user:password@db:5432/wise-old-man?schema=public&connection_limit=18
SERVER_OPENAI_API_KEY=
SERVER_PATREON_BEARER_TOKEN=
SERVER_DISCORD_BOT_EVENTS_API_URL=
SERVER_DISCORD_PATREON_WEBHOOK_URL=
SERVER_ABUSE_PROTECTED_PLAYERS_LIST=

# Prometheus & Metrics
PROMETHEUS_METRICS_SERVICE_URL=

# Networking
WORKER_PRIVATE_IP=